*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 0;
  background: #ececec;
}

img {
  max-width: 100%;
}

.container {
  max-width: 760px;
  margin: auto;
  border: 3px solid #000;
  background: #000;
}

.main-img img,
.img img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
